.message-section{
    margin-left: 230px;
    background-color: #ecf0f5;
    padding-bottom:5px;
}
.app-messages{
    padding-top:15px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:0px;
    
}
