<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" id="side-bar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <!-- Optionally, you can add icons to the links -->
      <li class="active"><a [routerLink]="['dashboard/home']"><i class="fa fa-home"></i><span>Home</span></a></li>
      <!-- customer options -->
      <li class="treeview">
        <a href="#"><i class="fa fa-users"></i> <span>Customers</span>
          <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/customers']"><i class="fa fa-circle"></i> All Billing Groups</a></li>
          <li><a [routerLink]="['/stores']"><i class="fa fa-circle"></i> All Customers</a></li>
          <li><a [routerLink]="['/customers/0']"><i class="fa fa-circle"></i> New Customer</a></li>
        </ul>
      </li>
      <!-- products options -->
      <li><a [routerLink]="['/product']"><i class="fa fa-shopping-cart"></i> <span>Products</span></a></li>
      <li><a [routerLink]="['/delivery-route']"><i class="glyphicon glyphicon-road"></i> <span>Manage Route</span></a></li>

      <!-- invoice options -->
      <li class="treeview">
        <a href="#"><i class="fa fa-file-o"></i> <span>Invoices</span>
          <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a [routerLink]="['/invoices']"> <i class="fa fa-circle"></i> Search Invoice</a>
          </li>
          <li>
            <a [routerLink]="['/create-weekly-orders/schedule/new']"> <i class="fa fa-circle"></i>Create Weekly Orders</a>
          </li>
          <li>
            <a style="cursor: pointer;" (click)="opendotmatrixLayout()"> <i class="fa fa-circle"></i> Empty Dotmatrix Invoice</a>
          </li>
          <!--<li>
            <a [routerLink]="['dashboard/invoice/recent']"> <i class="fa fa-circle"></i> Recent Invoices</a>
          </li>
          <li>
            <a [routerLink]="['dashboard/invoice/all']"> <i class="fa fa-circle"></i> All Invoices</a>
          </li>
          <li>
            <a href="#"> <i class="fa fa-circle"></i>Invoice Settings</a>
          </li> -->
        </ul>
      </li>

      <!--reports-->
      <li>
        <a href="#"><i class="fa fa-pie-chart"></i><span>Reports</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a [routerLink]="['/reports/production-schedule']"> <i class="fa fa-circle"></i>Production Schedule</a>
          </li>
          <li>
              <a [routerLink]="['/reports/sales-audit-by-route']"> <i class="fa fa-circle"></i>Sales Audit By Route</a>
            </li>
          <li>
              <a [routerLink]="['/reports/sales-audit']"> <i class="fa fa-circle"></i>Sales Summary</a>
          </li>
          <li>
            <a [routerLink]="['/reports/ins-outs']"> <i class="fa fa-circle"></i>Delivery Sheets</a>
          </li>
          <li>
            <a [routerLink]="['/reports/customer-units']"><i class="fa fa-circle"></i>Year To Date Customer Units</a>
          </li>
        </ul>

      </li>
      <!-- <li><a [routerLink]="['dashboard/settings']"><i class="fa fa-files-o"></i> <span>Settings</span></a></li> -->
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
